.box{
    height: 80px;
    width: 80px;
    background-color: coral;
    padding: 10px;
    color:darkslategray;
}
.box:hover {
    background-color: violet;
    color: black;
 
}
.box:active {
    height: 50px;
    width: 50px;
}
input:focus {
    font-size: 20pt;
    width: 200px;
}