div.btn{
    margin: 50px;
    font-size: 30pt;
    color: azure;
    background-color: peru;
    padding: 50px;
    width: 200px;
    box-shadow: blue 10px 10px 10px;
    transition: 0.8s;
    border-radius: 10px;
}
div.btn:hover{
    transform: translate(-10px, -10px);
    box-shadow: blue 20px 20px 20px;
    transition: 0.5s;
}
div.btn:active {
   transform: translate(5px,5px);
   box-shadow: blue 5px 5px 5px;
   transition: 0.2s;
}